snippet header "python vmware header" b
#!/build/toolchain/lin32/python-2.7.1/bin/python
# Copyright `date +%Y` VMware, Inc.  All rights reserved.
# -- VMware Confidential

$0
endsnippet

snippet ifname "extend if __name__" b
if __name__ == '__main__':
    $0
endsnippet
